<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="main" style="background-image:url('/media/image/maxresdefault.jpg')">
{% if news_page %}
<div class="main" >
    <div>
        <h5 style="font-family:URW Chancery L, cursive;margin-top:20px;margin-left:400px;width:600px;background-color:white;text-align:center;">{{news_page.news_title}}</h5>
    </div>
    <div style="border-radius:5px;width:415px;height:235px;margin-left:81px;margin-top:90px;">
        <img style="border-radius:5px;width:415px;height:235px;" src="{{news_page.news_image.url}}">
    </div>
    <div style="text-align:center;font-family:Georgia, serif;margin-left:150px;background-color:white;width:900px;height:200px;">
        <p id="'typing-content'" style="background-color:white;text-align:center;margin-top:40px;">
            {{news_page.news_description}}
        </p>
    </div>
</div>

{% endif %}
</body>
</html>